<a-entity
  id="leftHand"
  hand-controls="hand: left"
  trigger-action="action: prevSlide; event: gripdown;"
  bind__ui="uiShown: uiShown"
  trigger-action__xbuttondown="action: prevSlide;"
  trigger-action__controllerconnected="action: controllerConnectedLeft;"
>
  <a-entity position="0.3 0 0" rotation="0 0 -90" bind__show-buttons="uiShown">
    <!-- <path="hand-control-panel.html"></require> -->
  </a-entity>
</a-entity>

<a-entity
  position="-1 1.6"
  rotation="0 90 0"
  bind__show-buttons="!controllerConnectedLeft"
>
  <!-- <path="hand-control-panel.html"></require> -->
</a-entity>

<a-entity
  id="rightHand"
  hand-controls="hand: right"
  laser-controls
  raycaster="objects: .floor; showLine: true"
  line="color: red"
  trigger-action__controllerconnected="action: controllerConnectedRight;"
  trigger-action__abuttondown="action: nextSlide;"
  trigger-action__gripdown="action: pointStart;"
  trigger-action__gripup="action: pointEnd;"
></a-entity>

<a-entity id="rig" movement-controls>
  <a-entity
    camera
    position="0 1.6 0"
    look-controls="pointerLockEnabled: true"
    raycaster="objects: .floor"
  ></a-entity>
</a-entity>

<a-entity
  id="laser-point"
  position="-3 0 -5"
  geometry="primitive: cylinder; radius: 0.1; height: 0.01"
  material="color: red"
  data-aabb-collider-dynamic="true"
  visible="false"
>
  <a-entity
    id="laser-target"
    geometry="primitive: box; height: 0.1; width: 0.1; depth: 0.1"
    material="transparent: true; opacity: 0"
    position="0 0.1 0"
  ></a-entity>
</a-entity>

<!-- <a-entity camera look-controls position="0 1.6 0">
  <a-entity
    cursor="rayOrigin: mouse"
    raycaster="objects: .action-button:not(.hidden)"
  ></a-entity>
</a-entity> -->
